.card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-body {
  display: flex;
  flex-direction: column;
}
.card-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 10%;
  width: 10%;
}
.card-body .btn {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.item,
.item1,
.item2 {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.item3 {
  display: flex;
  align-items: center;
}
.fa {
  margin-right: 15px;
  margin-bottom: 7px;
}
.item3 a {
  margin-top: 30px;
}
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0069d9;
}
